<form class="formulaire" [formGroup]="formulaire" (ngSubmit)="onAjoutServeur()">
  <mat-form-field>
    <mat-label>
      Nom du Serveur
    </mat-label>
    <input formControlName="nom" matInput placeholder="Ex. Stagiaire MNS" />
    @if(formulaire.get("nom")?.hasError("required")) {
      <mat-error>Le nom du serveur est obligatoire</mat-error>
    }
    @if(formulaire.get("nom")?.hasError("minlength")) {
      <mat-error>Le nom du serveur doit faire au moins 3 caractères</mat-error>
    }
    @if(formulaire.get("nom")?.hasError("maxlength")) {
      <mat-error>Le nom du serveur ne peut dépasser 50 caractères</mat-error>
    }

  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Description du Serveur
    </mat-label>
    <textarea formControlName="description" matInput placeholder="Ex. Salut AD"> </textarea>
    <mat-error>La description ne peut dépasser 100 caractères</mat-error>
  </mat-form-field>

  <p><mat-slide-toggle formControlName="public">Public</mat-slide-toggle></p>
  <button mat-flat-button color="primary" type="submit">Ajouter le serveur</button>
</form>
