<main>
  <aside>
    <div class="liste-serveur">
      <div
        class="serveur"
        routerLink="/ajout-serveur"
        matTooltip="Créer un nouveau serveur"
        matTooltipPosition="right"
      >
        <mat-icon fontIcon="add_circle"></mat-icon>
      </div>

      @for (serveur of listeServeur; track serveur._id) {

      <div
        class="serveur"
        [matTooltip]="serveur.nom"
        matTooltipPosition="right"
        (click)="changeSelectedServer(serveur)"
      >
        <img [attr.src]="serveur.urlLogo" />
      </div>

      }
    </div>
    <div class="info-profil">
      <img
        class="avatar"
        src="https://play-lh.googleusercontent.com/0goocG7RJZDZ41ShfBPl-h7ctwHKHjqzn4nSImyL8_RWyXqeYNKw-CdGAKhgPGZG5Es"
      />
      <span>test</span>
      <mat-icon
        class="bouton-profil"
        fontIcon="settings"
        routerLink="/profil"
      ></mat-icon>
    </div>
  </aside>

  <app-serveur [currentServer]="selectedServer" />

</main>
