@if (currentServer == undefined) {
  <div class="message-selection">
    <div class="message">
      Veuillez sélectionner un serveur
    </div>
  </div>
} @else {
  @if (currentSalon == undefined) {
    <div class="affichage-nom-serveur"> Serveur actuel :
      <div class="nom-serveur"> {{ currentServer.nom }}</div>
      <div class="bouton">
        <form class="form-creation" [formGroup]="formulaireSalon">
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput type="text" placeholder="Nom" formControlName="nom" class="input-form">
          </mat-form-field>
          <mat-form-field>
            <mat-label> Description</mat-label>
            <input matInput type="text" placeholder="Description" formControlName="description" class="input-form">
          </mat-form-field>
          <button class="bouton-salons" (click)="handleCreationSalon()">
            Créer un nouveau salon
          </button>
        </form>

      </div>
    </div>
    <div class="liste-salons">
      @for (salon of listeSalon; track salon._id) {
        <div class="salon" (click)="handleSelectionSalon(salon)">
          <div class="nom"> {{ salon.nom }}</div>
          <p class="description">
            {{ salon.description }}
          </p>
        </div>
      }
    </div>
  } @else {
    <button class="bouton-salons" (click)="handleSelectionSalon(undefined)">
      Retour à la liste des salons
    </button>
    <div class="liste-message">

      @if(listeMessage?.length == 0) {
        <div> Aucun message par ici </div>
      }
      @for (message of listeMessage; track message._id) {
      <div class="message">
        <img
          class="avatar"
          src="https://play-lh.googleusercontent.com/0goocG7RJZDZ41ShfBPl-h7ctwHKHjqzn4nSImyL8_RWyXqeYNKw-CdGAKhgPGZG5Es"
        />
        <div class="partie-message">
          <div class="utilisateur">{{message.userName}}</div>
          <p class="contenu">
            {{
              message.message
            }}
          </p>
        </div>
      </div>
      }
    </div>
    <form class="message-form" [formGroup]="formulaireMessage">
      <mat-form-field class="message-sender">
        <textarea matInput maxlength="2000" type="text" class="envoi-message" rows="5" formControlName="message"> </textarea>
      </mat-form-field>
      <button class="message-button" (click)="handleEnvoiMessage()"> Envoyer </button>
    </form>
  }

}

